---
layout: page
title: Knowledge Index
---

{% for category in site.categories %}
    <h3>{{ category | first }}</h3>
    {% for posts in category %}
        <table id="tbl-index">
        {% for post in posts %}
            {% if post.url %}
            <tr>
                <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                <td style="text-align: right">{{ post.date | date_to_string }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endfor %}
{% endfor %}
